new_command _sat python -m sioyek.addtext
new_command _sra python -m sioyek.removeanno
new_command _add_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" %{selected_rect} %{command_text}
new_command _add_red_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" %{selected_rect} %{command_text} fontsize=5 text_color=255,0,0
new_command _remove_annotations python -m sioyek.remove_annotation "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" %{selected_rect}
should_launch_new_window 1
background_color 0.5 0.5 0.5
page_separator_width 10
